* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans', sans-serif;
    font-size: 16px;
}
/* Header */

header {
    width: 100%;
    height: 700px;
    background-image: url(img/Skewed4.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #000;
    text-align: center;
}

header .textos {
    margin-top: 152px;

}

header .titulo {
    font-size: 85px;
}

header .subtitulo {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 32px;
}

header .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #3ae374;
    color: #3ae374;
    background-color: #3ae374;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

.boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #3ae374;
    color: #3ae374;
    background-color: #3ae374;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-color: #3ae374;
}

.sesgoabajo {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0vw 0vh 100vw;
    border-style: solid;
    border-color: transparent transparent #ecf0f1 transparent;
}

.sesgoarriba {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 10vh 0vw 0vh 100vw;
    border-style: solid;
    border-color: #ecf0f1 transparent transparent transparent;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}

/* Main */

.sobre-nosotros {
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
}

.slogan {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
}

.parrafo {
    margin-bottom: 13px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(24, 16, 16);
}

.acerca-de .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 24px;
}

.galeria {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.imagenes {
    width: 20%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.encima {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 204, 113, 0.815);
}

.encima h2 {
    position: relative;
    top: 45%;
    text-align: center;
    color: #fff;
}

.encima div {
    position: relative;
    display: block;
    top: 46%;
    width: 40px;
    height: 5px;
    background: #fff;
    margin: auto;
}

.cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 30px 0;
    width: 30%;
    height: 250px;
    text-align: center;
    padding: 20px;
    box-shadow: 0px 0px 20px 0 rgba(52, 73, 94, 0.849);
background-color: #fff;
}
.card2 {
    margin: 30px 0;
    width: 30%;
    height: 250px;
    text-align: left;
    padding: 20px;
    box-shadow: 0px 0px 20px 0 rgba(52, 73, 94, 0.849);
background-color: #fff;
}

.cards img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 10%;
}


.fondo {
    height: 900px;
    position: relative;
    background-image: url(img/fondo1.jpg);
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    padding-top: 130px;
}

.sesgoabajo-unico {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #2ecc71 transparent;
}

.titulo-patrocinadores,
.subtitulo-patrocinadores {
    color: #fff;
    text-align: center;
}

.titulo-patrocinadores {
    font-size: 56px;
    margin-top: 48px;
color: #000;
}

.subtitulo-patrocinadores {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 64px;
color: #000;
}

.clientes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    width: 100%;
    justify-content: space-between;
}

.cliente {
    width: 30%;
}

.cliente img {
    width: 100%;
}

/* Footer */

footer {
    background: #2ecc71;
    height: auto;
}

.titulo-footer,
.subtitulo-footer {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 56px;
}

.subtitulo-footer {
    font-size: 16px;
    margin-bottom: 64px;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

/* Responsive */

@media screen and (max-width:900px) {
    .card {
        width: 48%;
    }
}

@media screen and (max-width:610px) {
    header .textos {
        margin-top: 130px;
    }
    header .titulo {
        font-size: 75px;
    }
    .none {
        display: none
    }
    .imagenes {
        flex-grow: 1;
    }
    .card {
        width: 90%;
    }
    .fondo {
        height: auto;
    }
    .especial {
        display: none;
    }
    .cliente {
        width: 90%;
        height: 200px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width:380px) {
    header .textos {
        margin-top: 100px;
    }
    header .titulo {
        font-size: 65px;
    }
    header .subtitulo {
        font-size: 25px;
        margin-bottom: 32px;
    }
    .sobre-nosotros {
        font-size: 46px;
    }
    .slogan {
        font-size: 20px;
    }
    .titulo-patrocinadores {
        font-size: 46px;
    }
    .subtitulo-patrocinadores {
        font-size: 20px;

    }
}


.contenedor {
  margin: auto;
  width: 99%;
}
.header .contenedor{
display:flex;
justify-content: space-between;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu__link {
  display: block;
  padding: 15px;
  background: #2ecc71;
  text-decoration: none;
  color: #fff;
}
.menu__link:hover, .select {
  background: white;
  color: #2ecc71;
}

@media(min-width:1024px) {  
.contenedor {
    width: 1000px;
  }
.menu {
    display: flex;
  }
.nav {
    position: static;
    width: auto;
  }

 .menu__link {
    background: none;
    font-size: 20px;
  }
}

@media(min-width:1280px) {
  .contenedor {
    width: 1200px;
  }

.presentacion{
height: 420px;
width: 80%;
display: flex;
margin: auto;
border-radius: 7px;
box-shadow: 0px 14px 32px 0px rgba(0,0,0,0.5);
overflow: hidden;
box-sizing: border-box;
}
.presentacion .img1{
width: 50%;
}
.presentacion .img1 img{
width: 100%;
vertical-align: top;
}

.producto-info{
width:50%;
border-radius:0 7px 10px 7px;
background:#fff;
}
.producto-texto{
width:100%;
}

.content-three{
 
   width: 100%;
 
   background: none;
  
  padding: 20px;
   
 
}


.content-module{
 
   width: 100%;
  
  margin: auto;

    text-align: center;

}


@media screen and (max-width:600px){
 
   .content-module{
 
       width: 100%;
   
 }

}

.content-module h3{
    
}


.content-module img{
 
   margin-top: 10px;
 
   transition: all 300ms;

}


.content-module img:hover{
 
   transform: rotate(-360deg);

    transition: all 300ms;

}



}

